@charset "UTF-8";

body,html {
  /* imagem de funco e gradiente em cima e em baixo,
  que vão se mesclar e deixar a imagem toda escura */
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('imagens/cidade.png');

  /* configuração do background */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -0;
  height: 100%;
  margin: 0;
}

/* BARRA DE MENU (aleluia consegui fazer um menu que preste) */
.menu1 ul {
/* configuração dessa barra/caixa verde para ficar lá no topo dá página */ 
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 0px;
  
/* estilo do menu como um todo, a barra verde inteira */
  text-align: center;
  list-style-type: none;
  padding: 22px;  
  background-color: #30332e;
}

/*esse aqui é a caixinha de botão que vai guardar o link */ 
.menu1 li {
/* estilo do botãozinho */
  text-transform: uppercase;
  border-color: #02010a;
  border-style: solid;
  border-radius: 12px;
  background-color: #30332e;

/* configuração dos botõeszinhos :D */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

/* link pra clicar, que vai estar dentro do botãozinho */
.menu1 a {
/* estilo do link/âncora */
  font-weight: bold;
  font-family: "Trebuchet MS";
  font-size: 14px;
  text-decoration: none;
  color: white;
  
/* configuração e posição do link/âncora */
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* BARRA DE MENU */

/* Título principal de quando entra */
.titulo h1 {
  font-family: "Verdana";
  font-weight: 900;
  font-size: 90px;
  color: rgb(255, 217, 0);
  text-shadow: 1px 1px 30px black;
  text-transform: uppercase;

  text-align: center;
  margin-top: 10%;
}

/* Título do mapa de imagem */

.mapa h1{
  font-size: 20px;
  color: black;
  margin: 16px;
}

/* caixinha verde */
.container-conteudo {
/* configuração do container-conteudo */
  position: relative;
  margin-top: 10.6%;
  width: auto;
  height: auto;
  
  /* estilo do container-conteudo */
  background-color: #30332e;
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
}

/* outra caixinha verde */
.container-conteudo-2 {
  /* configuração do container-conteudo */
    position: relative;
    margin-top: 10.6%;
    width: auto;
    height: auto;
    
    /* estilo do container-conteudo */
    background-color: #30332e;
    border-style: ridge;
    border-color: black;
    border-radius: 10px;
  }

/* texto do container-conteudo */
.texto-definicao {
/* configuração do texto do container-conteudo */
  width: 470px;
  padding: 30px;
  text-align: center;

/* estilo do texto do container-conteudo */
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 30px;
  color: white;
}

/* container-destaque (aquela caixa de cor bege na home sabe?) */
.container-destaque {
/* configuração do container-destaque */
  position: absolute;
  top: 25%;
  left: 40%;

/* estilo do container-destaque */
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
  border-color: #02010a;
  border-radius: 10px;
  background-color: #b8a99e;
}

/* do mapa de imagem */
.container-destaque-mapa {
  /* configuração do container-destaque do mapa */
    position: absolute;
    top: 25%;
    left: 40%;
  
  /* estilo do container-destaque do mapa*/
    border-style: ridge;
    border-color: black;
    border-radius: 10px;
    border-color: #02010a;
    border-radius: 10px;
    background-color: #b8a99e;
  }

/* estilo do texto que vai estar
 dentro do container-destaque */
.texto-destaque {
  height: auto;
  padding: 10%;
  width: auto;

  color: black;
  font-family: "Segoe UI";
  font-size: 30px;
  text-align: center;
}

/* grande 1*/
.mapa-imagem {
  padding: 10px;
}

/* grande 2*/
.mapa-imagem img {
  border-radius: 30px;
}

/* pequeno 1*/
.mapa-imagem-alternativo {
  display: none;
}

/* pegueno 2*/
.mapa-imagem-alternativo img {
  width: 85vw;
}

.lista-de-fontes a {
  color: black;
  font-family: "Segoe UI";
}
/* BOTÃO TROCA IDOMA */
.troca {
/* só a posição do botãozinho de trocar idioma na tela */
/* que é preso na parte inferior direita da tela */
  position: fixed;
  top: 95.5%;
  z-index: 999;
}

.troca button {
/* tudo estilo do botão de idioma */
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Trebuchet MS";
  font-size: 14px;
  text-decoration: none;
  color: white;

  border-color: #02010a;
  border-style: solid;
  border-radius: 10px;

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #30332e;

  padding-inline-end: 10px;
  padding-inline-start: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  
  width: 177px;

  cursor: pointer;
}
/* FIM BOTÃO TROCA IDOMA */

/* RESPONSIVIDADE */

@media screen and (max-width: 1440px) {
/* menu novo com espaçamento correto entre os LI's */
.menu1 li {
  display: inline-block;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

/* título amarelo principal novo */
.titulo h1{
  font-size: 80px;
}

/* caixa verde */
.container-conteudo-2 {
  margin-top: 100%;
}

/* texto da caixa bege */
.texto-definicao {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* caixa bege */
.container-destaque {
  position: absolute;
  top: 99%;
  left: 0%;
}

.mapa h1 {
  font-size: 50px;
}

.container-destaque-mapa {
  position: absolute;
  top: 100%;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
}

}

@media screen and (max-width:1400px) {
  .container-conteudo-2 {
    margin-top: 40%;
  }
}

@media screen and (max-width:1000px) {
.container-conteudo-2 {
  top: 15%;
}

/* título do mapa */
.mapa h1{
  font-size: 50px;
}

}

@media screen and (max-width:700px) {
.menu1 a {
  font-size: 12px;
}

.titulo h1 {
  font-size:30px;
}

.texto-definicao {
  font-size: 15px;
}
.texto-destaque {
  font-size: 15px;
}

/* título do mapa */
.mapa h1{
  font-size: 30px;
}
 
/* ai ele esconde a imagem grande e mostra a imagem pequena quando a tela for menor */
.mapa-imagem {
  display: none;
}

.mapa-imagem-alternativo{
  display: flex;
}

.troca {
height: 111%;
}

}

@media screen and (max-width:235px) {
  .container-conteudo-2 {
    margin-top: 100%;
  }
  .titulo {
    font-size: 10px;
  }
}

@media screen and (max-width:180px) {
  .container-conteudo-2 {
    margin-top: 170%;
  }
}