@charset "UTF-8";

/* é muuuuuito css, a Etec ainda vai me pagar pela sanidade perdida nisso */

body,html {
  /* imagem de funco e gradiente em cima e em baixo,
  que vão se mesclar e deixar a imagem toda escura */
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url('imagens/cidade2.png');

  /* configuração do background */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* z-index: 0; */
  height: 100%;
  margin: 0;
}

/* BARRA DE MENU (aleluia consegui fazer um menu que preste) */
.menu1 ul {
  /* configuração dessa barra/caixa verde para ficar lá no topo dá página */ 
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 0px;
    
  /* estilo do menu como um todo, a barra verde inteira */
    text-align: center;
    list-style-type: none;
    padding: 22px;  
    background-color: #30332e;
  }
  
  /*esse aqui é a caixinha de botão que vai guardar o link */ 
  .menu1 li {
  /* estilo do botãozinho */
    text-transform: uppercase;
    border-color: #02010a;
    border-style: solid;
    border-radius: 10px;
    background-color: #30332e;
  
  /* configuração dos botõeszinhos :D */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  
  /* link pra clicar, que vai estar dentro do botãozinho */
  .menu1 a {
  /* estilo do link/âncora */
    font-weight: bold;
    font-family: "Trebuchet MS";
    font-size: 14px;
    text-decoration: none;
    color: white;
    
  /* configuração e posição do link/âncora */
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

/* BARRA DE MENU */

/* estilo para todos os parágrafos */
p {
    font-family: "Trebuchet MS";
    font-weight: 100;
    font-size: 1.5vw;
    color: #F2F2F2;
}

/* estilo para todos os títulos */
.titulo{
    font-family: "Verdana";
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/* estilo para todos os subtítulos (mesmo que tenha só um)*/
.subtitulo {
    font-family: "Verdana";
    font-weight: 500;
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/* formato para todos os textos/parágrafos */
.texto1 {
    text-align: justify;
    line-height: 140%;
    padding: 0 5% 0 5%;
}

.lista-basica {
  font-family: "Trebuchet MS";
  font-weight: 100;
  font-size: 1.5vw;
  color: #F2F2F2;
  line-height: 140%;
  padding: 0 5% 0 5%;
}

table, th, td {
  border: 1px solid white;
  table-layout: fixed;
  font-family: "Trebuchet MS";
  font-weight: 100;
  font-size: 1.5vw;
  color: #F2F2F2;
}

.container-tabela {
  margin: 0 auto;
  position: absolute;
  margin-top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabela {
  position: relative;
}

/* aquela caixa escurinha e transparente que fica atrás do conteúdo*/
/* (só não tem na home, mas sim em todas as outras) */
.container {
  position: relative;
  /* um blur no container, infelizmente ainda não é suportado no FireFox :( */
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 100px;
  padding-top: 3%;
  height: 220%;
  /* z-index: 1; */
}

/* posição do container do vídeo da história lá */
.video1 {
  width: 100%;
  position: absolute;
  margin: auto;
  margin-top: 0;

  left: auto;
  right: auto;
}

/* mais posição do vídeo em sí dentro do container lá*/
.video {
  display: flex;
  margin-right: auto;
  margin-left: auto; 
}

iframe {
  width: 50vw;
}

/* estilo do container do iFrame do mapa da marginal pinheiros,
   aqui com o comandante Amilton*/
.container iframe {
  border-width: 4px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;

}

/* posição do container do iFrame da marginal pinheiros */
.mapa-marginal-pinheiros iframe {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

/* Formulário wee*/

/* ***DETALHE*** -- por via das dúvidas, todos os paddings e border-radius estão com valores múltiplos de 8, em alguns casos, 4. */

/* movimentar o furmulário inteiro */
.container-formulario {
  display: block;
  text-align: center;
}

/* alinha o furmulário e coloca estilo no texto */
.formulario {
  font-family: "Trebuchet MS";
  font-weight: 900;
  font-size: 15px;
  color: #F2F2F2;

  display: inline-block;
  text-align: center;
}

/* estilo da borda em todos */
/* a cor e fonte vem depois em cada um */
input, textarea, select {
  border-style: solid;
  border-color: black;
  padding: 4px;
  border-radius: 8px;
  border-width: 3.9px;
  backdrop-filter: blur(6px);
}

/* coloca uma sombrinha e estilo nas labels */
label {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  border-radius: 8px;
  display: block;
  margin-bottom: 5px;
  margin-left: 32%;
  margin-right: 32%;
}

/* aumenta só a label do tipo do trabalho, pq ela é  maiorzinha */
label.tipo-de-trabalho {
  margin-left: 25%;
  margin-right: 25%;  
  margin-top: 3%;
  margin-bottom: 1%;
}

/* cor e fonte de cada um individualmente */
input {
    background-color: rgba(0, 0, 0, 0.8);
    font-family: "Trebuchet MS";
    font-size: 15px;
    color: #F2F2F2;
}

textarea {
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Trebuchet MS";
  font-size: 15px;
  color: #F2F2F2;
  padding: 10px;
}

select {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  font-family: "Trebuchet MS";
  font-size: 15px;
  color: #F2F2F2;
  margin-top: 1%;
}

legend {
  background: rgba(0, 0, 0, 0.7);
  /* um blur no container, infelizmente ainda não é suportado no FireFox :( */
  backdrop-filter: blur(6px);
  font-family: "Trebuchet MS";
  font-weight: 900;
  font-size: 15px;
  color: #F2F2F2;
  padding: 8px;
  border-radius: 8px;

  margin-top: 5%;
  margin-bottom: 5%;
}

/* aquela mensagemzinha que fica antes de tu preencher o formulário sabe? */
::placeholder {
    color: white;
    opacity: 0.3;
  }

  /* RESPONSIVIDADE */

  /* FORMULARIO */
@media screen and (max-width:1140px){
  .container-tabela {
    margin-top: 80%;
  }
}

@media screen and (max-width: 800px) {
  p {
    font-size: 2.0vw;
  }
  td {
    font-size: 2.0vw;
  }
}

@media screen and (max-width: 550px) {
  p {
    font-size: 2.5vw;
  }
  td {
    font-size: 2.5;
  }
}

@media screen and (max-width: 460px) {
  textarea {
    width: 80%;
  }

  input {
    width: 65%;
  }

  label {
    margin-left: 25%;
    margin-right: 25%;
  }

  .container-formulario {
    width: 90%;
    margin: 0% 0% 0% 5%;
  }
}
/* FORMULARIO */

 /* TEXTOS */
@media screen and (max-width: 390px) {
  p {
    font-size: 3vw;
  }
  td {
    font-size: 3vw;
  }

  .container-tabela {
    margin-top: 140%;
  }
}
  
@media screen and (max-width: 240px) {
  p {
    font-size: 3.5vw;
  }

  td {
    font-size: 3.5vw;
  }

  .container-tabela {

    margin-top: 200%;

  }
}